<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensaje Recibido</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #6a0dad, #2196F3);
            color: white;
            text-align: center;
            padding: 50px;
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1 {
            font-size: 3em;
            margin-bottom: 20px;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        }
        p {
            font-size: 1.5em;
            margin-bottom: 30px;
        }
        a {
            color: white;
            text-decoration: none;
            font-size: 1.3em;
            background: #5a22b4;
            padding: 15px 30px;
            border-radius: 10px;
            transition: background 0.3s ease;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
        }
        a:hover {
            
            background: #0f229d;
        }
        /* Agregar una sombra difusa al texto */
        .container {
            background: rgba(0, 0, 0, 0.3);
            padding: 50px;
            border-radius: 20px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
        }
    </style>
</head>
<body>

    <div class="container">
        <h1>¡Gracias por contactarnos!</h1>
        <p>Tu mensaje ha sido recibido. Nos pondremos en contacto contigo pronto.</p>
        <a href="/menu_principal" >Volver al inicio</a>
    </div>

</body>
</html>
